
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



body {
    width: 24.375rem;
    margin: 0 auto;
}


.stock-list {
  background: #333;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 24.375rem;

}

.stock-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;a
  border-bottom: 1px solid #474747;
  color: white;
  height: 30px;
}

.stock-item:last-child {
  border-bottom: none;
}

.stock-name, .stock-code {
  flex-basis: 5%;
}


.stock-code {
  font-size: 10px;
}

.stock-change {
  font-size: 11px;
}

.stock-name, .stock-price {
  font-size: 12px;
}
.stock-price {
 font-size: 13px;
}



.stock9 {

  text-align: right;
  justify-content: flex-end;

  flex-basis: 85%;

}


.stock-price {


}


.stock-change {



}

.stock-change.positive {
  color: #00c853;
}

.stock-change.negative {
  color: #dd2c00;
}

.stock-change span:last-child {

}

.like-button {

 text-align: right;
  justify-content: flex-end;
flex-basis: 10%;
   background-color: transparent;
     border: none;
     cursor: pointer;
     font-size: 2rem;
     color: #ccc;
       margin-left: 0.5rem;
         margin-bottom: 0.28rem;
}

.like-button.yes {
 text-align: right;
  justify-content: flex-end;
flex-basis: 10%;
   background-color: transparent;
     border: none;
     cursor: pointer;
     font-size: 2rem;
     color: red;
       margin-left: 0.5rem;
         margin-bottom: 0.28rem;
}

.like-button.liked {
  color: red;
}

.like-button.like {
  color: #ccc;
}

.stock-name a {
    color: white;
    text-decoration: none;
}

.stock-name a:hover {
    color: darkred;
}
