<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="../static/js/like.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h2>Main Data List</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>업종 한글 종목명</th>
        <th>주식 현재가</th>
        <th>전일 대비</th>
        <th>전일 대비 부호</th>
        <th>전일 대비율</th>
        <th>누적 거래량</th>
        <th>거래량 대비율</th>
        <th>주식 시가</th>
        <th>주식 최고가</th>
        <th>주식 하한가</th>
        <th>주식 기준가</th>
        <th>시가총액</th>
        <th>PER</th>
        <th>PBR</th>
        <th>자본금 통화명</th>
        <th>주식 코드</th>
        <th>달러로 변환된 주식 현재가</th>
        <th>달러로 변환된 시가 총액</th>
        <th>관련 주식명</th>
        <th>관련 주식 영문명</th>
        <th>좋아요</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${mainDataList}">
        <td th:text="${data.id}"></td>
        <td th:text="${data.bstpKorIsnm}"></td>
        <td th:text="${data.stckPrpr}"></td>
        <td th:text="${data.prdyVrss}"></td>
        <td th:text="${data.prdyVrssSign}"></td>
        <td th:text="${data.prdyCtrt}"></td>
        <td th:text="${data.acmlVol}"></td>
        <td th:text="${data.prdyVrssVolRate}"></td>
        <td th:text="${data.stckOprc}"></td>
        <td th:text="${data.stckHgpr}"></td>
        <td th:text="${data.stckLwpr}"></td>
        <td th:text="${data.stckSdpr}"></td>
        <td th:text="${data.htsAvlsHTS}"></td>
        <td th:text="${data.per}"></td>
        <td th:text="${data.pbr}"></td>
        <td th:text="${data.cpfnCnnm}"></td>
        <td th:text="${data.stockCodes}"></td>
        <td th:text="${data.stckPrprInUSD}"></td>
        <td th:text="${data.HtsAvlsHTSInUSD}"></td>
        <td th:text="${data.dataEntity.stockName}"></td>
        <td th:text="${data.dataEntity.englishName}"></td>
        <td>
            <input type="checkbox" onclick="toggleLike([[${data.id}]])">
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>