<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/js/like.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/maindata.css">


    <title>Main Data</title>
    <style>



    </style>
</head>
<body>




<div class="top-bar">
    <div th:if="${user1}">
        <a th:text="${user1}" id="user"></a>
        <a href="/oauth2/authorization/google" class="btn btn-info active" role="button">Logout</a>
    </div>

    <div th:unless="${user1}">
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
    </div>



    <form action="/search" method="get">
        <input type="text" name="keyword" placeholder="keyword">
        <button type="submit">검색</button>
    </form>
</div>






<h4>Watchlist </h4>


<!--
<div>
    <div th:each="like : ${userLikes}" class="stock-item">

        <div th:text="${like.mainDataEntity.dataEntity.englishName}">주식명</div>
         여기에 추가적인 좋아요 항목 정보를 표시할 수 있습니다.
    </div>
</div>-->



<table>
    <div class="stock-list">
        <div th:each="like : ${userLikes}" class="stock-item" th:data-stock-id="${like.mainDataEntity.id}">
            <div class="stock-info">
                <div class="stock-name">
                    <a th:href="@{/stock/{id}(id=${like.mainDataEntity.id})}" th:text="${like.mainDataEntity.dataEntity.englishName}">주식명</a>
                </div>
                <div class="stock-code" th:text="${like.mainDataEntity.stockCodes}">주식코드</div>
            </div>
            <div class="stock9">
                <div class="stock-price" th:text="${like.mainDataEntity.stckPrprInUSD} + ' USD'">주식 현재가</div>
                <div class="stock-change" th:classappend="${like.mainDataEntity.prdyCtrt >= 0 ? 'positive' : 'negative'}">
                    <span th:text="${like.mainDataEntity.prdyCtrt > 0 ? '▲ ' + like.mainDataEntity.prdyVrss : (like.mainDataEntity.prdyCtrt < 0 ? '▼ ' + like.mainDataEntity.prdyVrss : '')}">변동 값</span>
                    <span th:text="${like.mainDataEntity.prdyCtrt} + '%'">전일 대비율</span>
                </div>
            </div>
            <div class="like-button">
                <button class="like-button" th:onclick="'javascript:toggleLike(' + ${like.mainDataEntity.id} + ');'">♥</button>
            </div>

        </div>

    </div>
    </div>

</table>





<h4>Top Gainers by Percentage</h4>
<table>
    <div class="stock-list">
        <div th:each="stock : ${mainDataList1}" class="stock-item" th:data-stock-id="${stock.id}">
            <div class="stock-info">
                <div class="stock-name">
                    <a th:href="@{/stock/{id}(id=${stock.id})}" th:text="${stock.dataEntity.englishName}">주식명</a>
                </div>
                <div class="stock-code" th:text="${stock.stockCodes}">주식코드</div>
            </div>
            <div class="stock9">
                <div class="stock-price" th:text="${stock.stckPrprInUSD} + ' USD'">주식 현재가</div>
                <div class="stock-change" th:classappend="${stock.prdyCtrt >= 0 ? 'positive' : 'negative'}">
                    <span th:text="${stock.prdyCtrt > 0 ? '▲ ' + stock.prdyVrss : (stock.prdyCtrt < 0 ? '▼ ' + stock.prdyVrss : '')}">변동 값</span>
                    <span th:text="${stock.prdyCtrt} + '%'">전일 대비율</span>
                </div>
            </div>
            <div class="like-button">
                <button class="like-button" th:onclick="'javascript:toggleLike(' + ${stock.id} + ');'">♥</button>
            </div>

        </div>

    </div>
    </div>

</table>

<h4>Top Decliners by Percentage</h4>
<table>
    <div class="stock-list">
        <div th:each="stock : ${mainDataList2}" class="stock-item" th:data-stock-id="${stock.id}">
            <div class="stock-info">
                <div class="stock-name">
                    <a th:href="@{/stock/{id}(id=${stock.id})}" th:text="${stock.dataEntity.englishName}">주식명</a>
                </div>
                <div class="stock-code" th:text="${stock.stockCodes}">주식코드</div>
            </div>
            <div class="stock9">
                <div class="stock-price" th:text="${stock.stckPrprInUSD} + ' USD'">주식 현재가</div>
                <div class="stock-change" th:classappend="${stock.prdyCtrt >= 0 ? 'positive' : 'negative'}">
                    <span th:text="${stock.prdyCtrt > 0 ? '▲ ' + stock.prdyVrss : (stock.prdyCtrt < 0 ? '▼ ' + stock.prdyVrss : '')}">변동 값</span>
                    <span th:text="${stock.prdyCtrt} + '%'">전일 대비율</span>
                </div>
            </div>
            <div class="like-button">
                <button class="like-button" th:onclick="'javascript:toggleLike(' + ${stock.id} + ');'">♥</button>
            </div>

        </div>

    </div>
    </div>

</table>

<h4>Top Stocks with Low PER</h4>
<table>
    <div class="stock-list">
        <div th:each="stock : ${mainDataList3}" class="stock-item" th:data-stock-id="${stock.id}">
            <div class="stock-info">
                <div class="stock-name">
                    <a th:href="@{/stock/{id}(id=${stock.id})}" th:text="${stock.dataEntity.englishName}">주식명</a>
                </div>
                <div class="stock-code" th:text="${stock.stockCodes}">주식코드</div>
            </div>
            <div class="stock9">
                <div class="stock-price" th:text="${stock.stckPrprInUSD} + ' USD'">주식 현재가</div>
                <div class="stock-change" th:classappend="${stock.prdyCtrt >= 0 ? 'positive' : 'negative'}">
                    <span th:text="${stock.prdyCtrt > 0 ? '▲ ' + stock.prdyVrss : (stock.prdyCtrt < 0 ? '▼ ' + stock.prdyVrss : '')}">변동 값</span>
                    <span th:text="${stock.prdyCtrt} + '%'">전일 대비율</span>
                </div>
            </div>
            <div class="like-button">
                <button class="like-button" th:onclick="'javascript:toggleLike(' + ${stock.id} + ');'">♥</button>
            </div>

        </div>

    </div>
    </div>

</table>

<h4>Top Stocks with Low PBR</h4>
<table>
    <div class="stock-list">
        <div th:each="stock : ${mainDataList4}" class="stock-item" th:data-stock-id="${stock.id}">
            <div class="stock-info">
                <div class="stock-name">
                    <a th:href="@{/stock/{id}(id=${stock.id})}" th:text="${stock.dataEntity.englishName}">주식명</a>
                </div>
                <div class="stock-code" th:text="${stock.stockCodes}">주식코드</div>
            </div>
            <div class="stock9">
                <div class="stock-price" th:text="${stock.stckPrprInUSD} + ' USD'">주식 현재가</div>
                <div class="stock-change" th:classappend="${stock.prdyCtrt >= 0 ? 'positive' : 'negative'}">
                    <span th:text="${stock.prdyCtrt > 0 ? '▲ ' + stock.prdyVrss : (stock.prdyCtrt < 0 ? '▼ ' + stock.prdyVrss : '')}">변동 값</span>
                    <span th:text="${stock.prdyCtrt} + '%'">전일 대비율</span>
                </div>
            </div>
            <div class="like-button">
                <button class="like-button" th:onclick="'javascript:toggleLike(' + ${stock.id} + ');'">♥</button>
            </div>

        </div>

    </div>
    </div>

</table>




</body>




</html>
